body {
     font-family: Verdana, Helvetica, sans-serif;
     background-color: #999966
}

.mono {
     font-family: Courier New, Courier, monospace;
     background-color: #999966;
}

button.choice_button {
    background-color: black;
    font-size:large;
    color: yellow;
}

.play_announce {
    font-size:x-large;
}
